[submodule "implementations/glge"]
	path = implementations/glge
	url = https://rehno-lindeque@github.com/rehno-lindeque/osi-glge.git
[submodule "implementations/glgui"]
	path = implementations/glgui
	url = https://rehno-lindeque@github.com/rehno-lindeque/osi-glgui.git
[submodule "implementations/wingui"]
	path = implementations/wingui
	url = https://rehno-lindeque@github.com/rehno-lindeque/osi-wingui.git
[submodule "implementations/glrayre"]
	path = implementations/glrayre
	url = https://rehno-lindeque@github.com/rehno-lindeque/osi-glrayre.git
[submodule "implementations/glrasre"]
	path = implementations/glrasre
	url = https://rehno-lindeque@github.com/rehno-lindeque/osi-glrasre.git
[submodule "implementations/qparser"]
	path = implementations/qparser
	url = https://rehno-lindeque@github.com/rehno-lindeque/osi-qparser.git
[submodule "implementations/linglkernel"]
	path = implementations/linglkernel
	url = https://rehno-lindeque@github.com/rehno-lindeque/osi-linglkernel.git
[submodule "implementations/winglkernel"]
	path = implementations/winglkernel
	url = https://rehno-lindeque@github.com/rehno-lindeque/osi-winglkernel.git
[submodule "implementations/nativege"]
	path = implementations/nativege
	url = https://rehno-lindeque@github.com/rehno-lindeque/osi-nativege.git
[submodule "implementations/qrayre"]
	path = implementations/qrayre
	url = https://rehno-lindeque@github.com/rehno-lindeque/osi-qrayre.git
[submodule "implementations/qlex"]
	path = implementations/qlex
	url = https://rehno-lindeque@github.com/rehno-lindeque/osi-qlex.git
[submodule "implementations/qsemanticdb"]
	path = implementations/qsemanticdb
	url = https://rehno-lindeque@github.com/rehno-lindeque/osi-qsemanticdb.git
