##############################################################################
#
#     .GITIGNORE
#
#     Copyright (c) 2008 Rehno Lindeque. All rights reserved.
#
##############################################################################

# TODO: Many files listed here are not being ignored. This needs to be 
#       investigated and fixed.

# Ignore any build directories
build/

# Ignore any lib directories
lib/

# Ignore any bin directories
bin/

# Ignore build files
*.a               # static library files
*.o               # object files
*.pyc             # compiled python bytecode

# Ignore temporary files
*~
*.backup

# Ignore any other version control system
.svn
.cvs

# Ignore unnecessary build system files
.sconsign.dblite

